<style type="text/css">
  .container {
    width: 600px;
      /*margin: 50px auto;*/
  }
   /* .container form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .container h2 {
        margin: 0 0 15px;
        color: black;
    }*/
    .form-inputs {
        min-height: 38px;
        border-radius: 2px;
    }
    .form-actions {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div class="edit-prof-banner" style="background-image:linear-gradient(-100deg, rgba(0,90,168,0.9), 0%, rgba(10,50,61,0.3) 40%), url('<%= image_path("editprofile.jpg") %>');">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2 text-center">
          <h2 class="text-center">Edit Profile</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :email, required: true, autofocus: true %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
              <%= f.input :photo,
                          label: 'Change your photo' %>
              <%= f.input :photo_cache, as: :hidden %>
              <%= f.input :bio,
                      as: :text,
                      required: true,
                      label: "Edit bio"
            %>
              <%= f.input :new_password,
                      hint: "leave blank if no change",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
              <%= f.input :current_password,
                      hint: "enter current password to confirm changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Update", class: 'btn btn-info' %>
            </div>
          <% end %>
          <p class="text-center">Unhappy?</p>
          <p class="text-center"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
          <%= link_to "Back", :back, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>