<style type="text/css">

  .container form {
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: black;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
  }
  .container h2 {
    margin: 0 0 15px;
  }
  .form-inputs {
    min-height: 38px;
    border-radius: 2px;
  }
  .form-actions {
    font-size: 15px;
    font-weight: bold;
  }
  .btn {
    color: white;
    background-color:#FD6A02;
  }
  .signup {
    color: #FD6A02;
  }

</style>

<% if resource.errors.any? %>
  <div class="errors-container">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="devisebanner" style="background-image:linear-gradient(-200deg, rgba(0,90,168,0.9), 0%, rgba(10,50,61,0.3) 40%), url('<%= image_path("signup2.jpg") %>');">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <div class="signup">
                <h2>Sign up</h2>
              </div>
                <%= f.input :first_name,
              required: true,
              input_html: { autocomplete: "first_name" }%>
                <%= f.input :last_name,
              required: true,
              input_html: { autocomplete: "last_name" } %>
                <%= f.input :email,
              required: true,
              autofocus: true ,
              input_html: { autocomplete: "email" }%>
                <%= f.input :bio,
              as: :text,
              required: true,
              label: "Please tell us a little about yourself."
              %>
                <%= f.input :password,
              required: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" } %>
                <%= f.input :photo %>
                <%= f.input :photo_cache, as: :hidden %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
