<div class="home">
<div class="banner" style="background-image:linear-gradient(-200deg, rgba(0,90,168,0.9), 0%, rgba(10,50,61,0.3) 40%), url('<%= image_path("group-dining.jpg") %>');">
  <div class="banner-content">
    <h2> Eat with interesting people near you</h2>
    <%= link_to "Start Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-color: #FD6A02;">
        <div class="card-description">
          <%= image_tag("pointer1.png", :class => "pointer")%>
          <h2>PICK your preferred lunch time</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-color: #FD6A02;">
        <div class="card-description">
          <%= image_tag("match1.png", :class => "match")%>
          <h2>MATCH with people near you</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-color: #FD6A02;">

        <div class="card-description">
          <%= image_tag("eat1.png", :class => "eat")%>
          <h2>MEET and EAT</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="testimonial-block">
        <h3 class="quote_title">Testimonials</h3>
        <div class="quote">
          <p>"I started working recently as a full-time employee. I soon learned that due to the nature of my company, inviting colleagues out for lunch was difficult. Schedules conflicts were almost always present. I always had to eat lunch alone awkwardly which I did not enjoy. Then I discovered SociaLunch, a platform where I can match with people for lunch anytime. SociaLunch not only made lunch more enjoyable, but it also expanded my network which I believe is a valuable asset to have as a new employee."</p>
        </div>
        <div class="attribution">
          <p class="testimonial_name">Bob Peterson</p>
          <p class="testimonial_title">Office Worker</p>
        </div>
      </div>
      <div class="testimonial-block">
        <div class="quote">
          <p>"I started working recently as a full-time employee. I soon learned that due to the nature of my company, inviting colleagues out for lunch was difficult. Schedules conflicts were almost always present. I always had to eat lunch alone awkwardly which I did not enjoy. Then I discovered SociaLunch, a platform where I can match with people for lunch anytime. SociaLunch not only made lunch more enjoyable, but it also expanded my network which I believe is a valuable asset to have as a new employee."</p>
        </div>
        <div class="attribution">
          <p class="testimonial_name">Bob Peterson</p>
          <p class="testimonial_title">Office Worker</p>
        </div>
      </div>
    </div>
  </div>
</div>

