<% if current_user == @lunch_date.request1.user %>
  <% primary_user = @lunch_date.request1.user %>
  <% secondary_user = @lunch_date.request2.user %>
<% else %>
  <% primary_user = @lunch_date.request2.user %>
  <% secondary_user = @lunch_date.request1.user %>
<% end %>
<!-- <div class="container"> -->
<div class="row">
  <!--     <div class="col-xs-12 col-sm-6"> -->
  <div class="matched_them">
    <div class="buddy_info">
      <% if secondary_user.photo.url %>
        <%= cl_image_tag secondary_user.photo, :class => "lunch_show_page" %>
      <% else %>
        <%= image_tag("default_avatar.png", :class => "lunch_show_page") %>
      <% end %>
      <div class="buddy_bio"><strong>
          <%= "#{secondary_user.first_name.capitalize} #{secondary_user.last_name.capitalize}" %></strong>
        <h6 class="bio"><em><%= secondary_user.bio %></em></h6>
      </div>
    </div>
    <!--       </div> -->
  </div>
  <!--   </div> -->
  <!-- <div class="row"> -->
  <!--     <div class="col-xs-12 col-sm-6"> -->
  <div class="matched_address">
    <h3><%= @lunch_date.venue_name %></h3>
    <% photo1 = @lunch_date.photos[0] %>
    <% photo2 = @lunch_date.photos[1] %>
    <% photo3 = @lunch_date.photos[2] %>
    <div>
      <%= image_tag photo1.photo_url %><%= image_tag photo2.photo_url %><%= image_tag photo3.photo_url %>
    </div>
  </div>
  <!-- </div> -->
  <!--   </div> -->
</div>