<%= @lunch_date.vicinity %>
<%= @lunch_date.venue_name %>
<% @lunch_date.photos.each do |photo| %>
  <%= photo.photo_url %>
  <%= photo.html_attribution %>
<% end %>
<% if current_user == @lunch_date.request1.user %>
  <% primary_user = @lunch_date.request1.user %>
  <% secondary_user = @lunch_date.request2.user %>
<% else %>
  <% primary_user = @lunch_date.request2.user %>
  <% secondary_user = @lunch_date.request1.user %>
<% end %>
<div class="text-center">
  <div class="matched_them">
    <% if secondary_user.photo.url %>
      <%= cl_image_tag secondary_user.photo, :class => "lunch_show_page" %>
    <% else %>
      <%= image_tag("default_avatar.png", :class => "lunch_show_page") %>
    <% end %>
    <h3><br>
      Your Buddy:<br>
    </h3>
    <p><%= "#{secondary_user.first_name.capitalize} #{secondary_user.last_name.capitalize}" %><br>
    </p>
    <h3>Bio:</h3>
    <p><%= secondary_user.bio %><br>
      <br>
    </p>
  </div>
</div>
<div class="matched_address">
  <div class=text-center>
    <h3>Restaurant Address:</h3>
    <p><%= @lunch_date.vicinity %></p>
  </div>
</div>