<% if current_user == @lunch_date.request1.user %>
  <% primary_user = @lunch_date.request1.user %>
  <% secondary_user = @lunch_date.request2.user %>
<% else %>
  <% primary_user = @lunch_date.request2.user %>
  <% secondary_user = @lunch_date.request1.user %>
<% end %>
<div class="row">
  <div class="matched_them">
    <div class="buddy_info">
      <div class="match_photo">
        <% if secondary_user.photo.url %>
          <%= cl_image_tag secondary_user.photo, :class => "lunch_show_page" %>
        <% else %>
          <%= image_tag("default_avatar.png", :class => "lunch_show_page") %>
        <% end %>
      </div>
      <div class="buddy_bio">
        <h3><strong><%= "#{secondary_user.first_name.capitalize} #{secondary_user.last_name.capitalize}" %><div id="score_box" style="background-image:url('<%= image_path("favourite-31.png") %>');">
          <div class="score"><%= secondary_user.score %></div>
        </div></strong></h3>
        <h6 class="bio"><%= secondary_user.bio %></h6>
      </div>
    </div>
  </div>
  <div class="matched_address">
    <h3><%= @lunch_date.venue_name %></h3>
    <% photo1 = @lunch_date.photos[0] %>
    <% photo2 = @lunch_date.photos[1] %>
    <% photo3 = @lunch_date.photos[2] %>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @lunch_date.photos.each_with_index do |photo, index| %>
          <li data-target="#myCarousel" data-slide-to="<%= index %>" <% if index == 0 %>class="active"<% end %>></li>
        <% end %>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @lunch_date.photos.each_with_index do |photo, index| %>
          <div class="item <% if index == 0 %>active<% end %>">
            <div class="carousel_photo">
              <%=image_tag (photo.photo_url)%>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


