

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="match_title">
        <h2 class="text-center">You matched with a lunch buddy!</h2>
      </div>
      <div class="match_content">
        <div class="text-center">
          <p>You will have a <%= @lunch_date.lunch_type %> lunch</p>
          <p>at <%= @lunch_date.begin.strftime("%l:%M %p") %>
          for <%= @lunch_date.suggested_duration %> minutes</p>
        </div>
        <div>
          <% if current_user == @lunch_date.request1.user %>
            <% primary_user = @lunch_date.request1.user %>
            <% secondary_user = @lunch_date.request2.user %>
          <% else %>
            <% primary_user = @lunch_date.request2.user %>
            <% secondary_user = @lunch_date.request1.user %>
          <% end %>
          <div class="row text-center">
            <!-- <div class="matched_you">
              You:<%= "#{primary_user.first_name.capitalize} #{primary_user.last_name.capitalize}" %><br>
              Your Bio:<%= primary_user.bio %>
            </div> -->
            <div class="matched_them">
              <h3><br>Your Buddy:<br></h3>
              <p><%= "#{secondary_user.first_name.capitalize} #{secondary_user.last_name.capitalize}" %><br></p>
              <h3>Bio:</h3>
              <p><%= secondary_user.bio %><br><br></p>
            </div>
          </div>
        </div>
        <div class="matched_address">
          <div class=text-center>
            <h3>Suggested Restaurant Address:</h3>
            <p><%= @lunch_date.restaurant.name %>
            <%= @lunch_date.restaurant.address %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
