<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2">
      <div class="content">
        <h1>Your request is waiting for a match!</h1>
      </div>
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV["GOOGLE_API_BROWSER_KEY"]}" %>

<div id="map" style="width: 90%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>
<%= javascript_pack_tag "map" %>



<% content_for :after_js do %>
  <script>
    console.log("my script runs");
    App['incoming_requests'] = App.cable.subscriptions.create(
      { channel: 'IncomingRequestsChannel' },
      { received: (data) => {
        console.log(data);
        const myRequestId = <%= @lunch_request.id %>;
        if ( myRequestId === data.lunch_date.request1_id || myRequestId === data.lunch_date.request2_id ) {
         console.log('concerned')
         window.location.replace("<%= lunch_dates_path %>/" + data.lunch_date.id);

        } else {
         console.log('not concerned in this match')
        }
      } }
    );
  </script>
<% end %>
